@media (max-width: 520px) {
	.cardPhotos {
		max-height: 190px !important;
	}
}
.cardPhotos {
	flex: 0 0 auto;
	width: 16.66666667%;
	overflow-x: hidden;
	max-height: 420px;
}

.carousel_thumbnails {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;

	.carousel_slides + & {
		margin-top: 0px;
		margin: 10px 0px 0px 0px;
	}

	li {
		flex: 1 1 auto;
		max-width: calc((100% / 6) - 5px);
		margin: 0 3px;
		transition: all 300ms ease-in-out;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}
}

.col {
	flex: 1 0 0%;
	overflow-x: hidden;
}

.carousel1 {
	display: block;
	text-align: left;
	position: relative;
	margin-bottom: 5px;
}

.carousel_slides {
	position: relative;
	z-index: 1;
	padding: 0;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	display: flex;
}

.carousel_slide.active {
	display: block;
}

.carousel_slide {
	display: none;
}

.carousel_slide img {
	width: 100%;
	height: auto;
	max-width: none;
	border-radius: 25px;
}
