.transportGrid {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	box-sizing: border-box;
}

@media (max-width: 1300px) {
	.transportGrid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1150px) {
	.transportGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.transportGrid {
		grid-template-columns: repeat(1, 1fr);
		padding: 0 10px;
	}
}

.noDataTransport {
	margin: 10rem auto 10rem auto;
	font-size: 1.5rem;
}
