.title {
	font-size: 5rem;
	color: #e2e2e2;
}
.sub_title {
	font-size: 1.5rem;
	color: #6a737d;
	margin-top: 10px;
}
.btn {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #0366d6;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none;
	width: 200px;
}
.btn:hover {
	background-color: #0356b3;
}
