.sortButton {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #3f3f46;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #52525b;
  }

  &.active {
    background-color: #059669;

    &:hover {
      background-color: #047857;
    }
  }
}

.active {
  background-color: #047857;
}
