.wrapper {
	line-height: 1.6;
	color: #333;
	margin-bottom: 1em;

	h1 {
		font-size: 2em;
		margin: 0.67em 0;
		font-weight: bold;
	}
	h2 {
		font-size: 1.75em;
		margin: 0.75em 0;
		font-weight: bold;
	}
	p {
		margin: 1em 0;
	}
	a {
		color: #0366d6;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	ul,
	ol {
		margin: 1em 0;
		padding-left: 2em;
	}
	li {
		margin: 0.5em 0;
	}
	blockquote {
		margin: 1em 0;
		padding: 0.5em 1em;
		border-left: 4px solid #ccc;
		color: #666;
		background: #f9f9f9;
	}
	code {
		font-family: monospace;
		background: #f5f5f5;
		padding: 0.2em 0.4em;
		border-radius: 3px;
	}
	pre {
		background: #f5f5f5;
		padding: 1em;
		overflow-x: auto;
		border-radius: 5px;
	}
	hr {
		border: none;
		border-top: 1px solid #ccc;
		margin: 2em 0;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	table {
		border-collapse: collapse;
		width: 100%;
		margin: 1em 0;
	}
	th,
	td {
		border: 1px solid #ccc;
		padding: 0.5em;
		text-align: left;
	}
	th {
		background: #f2f2f2;
	}
	strong {
		font-weight: bold;
	}
	em {
		font-style: italic;
	}
	del {
		text-decoration: line-through;
	}
}
