@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-family: 'Montserrat';
	font-weight: 500;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #121212;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--text-color-transport: #34f091;
	--title-size-transport: 1.25rem;
	--title-weight-transport: 700;
	--title-border-bottom-transport: 2px solid #34f091;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

html {
	background-image: url('/src/assets/homePage/sharpes.png');
	background-size: cover;
}

main {
	flex: 1;
}

.container {
	padding: 0 1rem;
	max-width: 1350px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-top: 20px;
}
