.banner {
	position: relative;
	padding: 130px 0;
	margin-bottom: 15px;

	img {
		border-radius: 10px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
}

.title {
	font-size: 2.25rem;
	font-weight: 700;
	margin-bottom: 2rem;
}
